# Server
PORT=4000

# MongoDB
MONGODB_URI=uri_de_mongodb
MONGODB_DB_NAME=awk-video

# Notes:
# - Replace MONGODB_URI if using MongoDB Atlas.
# - Do not commit a real .env file with credentials.

OPENAI_API_KEY=CONTRASEÑA_DE_OPENAI
PEXELS_API_KEY=CONTRASEÑA_DE_PEXELS